<!-- <script src="lib/angular/angular-sanitize.min.js"></script> -->
<!-- NAVIGATION BAR START -->
<div class='nav-center'>
    <div class='nav-header'><a href='#!/home'><img src='favicon.png' class='logo' alt='logo'>
            <h4 class='nav-name'>Our-Menu</h4>
        </a></div>
</div>
<ul class='links'>
    <li><a href='#!/recipes'>Recipes</a></li>
    <li><a href='#!/home'>Menu</a></li>
    <li><a href='#!/favourites'>Favourites</a></li>
    <li><a href='#!/about'>About Us</a></li>
    <li><a href='#!know-more'>Know More</a></li>
    <li><a href='#!/cart'>Cart<i class='fas fa-shopping-cart' style='position: relative;'>
                <div id='cartAmount' class='cartAmount'>0</div>
            </i></a></li>
    <li><a href='#!/logout' ng-click="logout()">Logout</a></li>
</ul>
<!-- NAVIGATION BAR END -->

<!-- TITLE -->
<div ng-controller="shoppingCartControl">
    <div class="title" style="padding-top: 100px;">
        <h2 style="font-weight:bold;">Your Cart</h2>
        <div class="underline"></div>
    </div>

    <div ng-bind-html="label" class="text-center"></div>

    <div class="shopping-cart" id="shoppingCart" ng-repeat="item in itemsInBasket">
        <div class='cart-item'> 
            <img src={{item.img}} alt="" />

            <div class="details">
                <div class="title-price-x">
                    <h4 class="title-price">
                        <p>{{item.title}}</p>
                        <p class="cart-item-price">₹{{item.price}}</p>
                        <p class="cart-item-quantity">{{quantity}}</p>
                        <!-- <button onclick="removeItem({{id}})" class='removeBtn'>x</button> -->
                    </h4>
                </div>
                <p class="total-price">₹{{quantity * search.price}}</p>
            </div>
        </div>
    </div>
</div>