<!-- NAVIGATION BAR START -->
<div class='nav-center'>
    <div class='nav-header'><a href='#!/home'><img src='favicon.png' class='logo' alt='logo'>
            <h4 class='nav-name'>Our-Menu</h4>
        </a></div>
</div>
<ul class='links'>
    <li><a href='#!/recipes'>Recipes</a></li>
    <li><a href='#!/home'>Menu</a></li>
    <li><a href='#!/favourites'>Favourites</a></li>
    <li><a href='#!/about'>About Us</a></li>
    <li><a href='#!know-more'>Know More</a></li>
    <li><a href='#!/cart'>Cart<i class='fas fa-shopping-cart' style='position: relative;'>
                <div id='cartAmount' class='cartAmount'>0</div>
            </i></a></li>
    <li><a href='#!/logout' ng-click="logout()">Logout</a></li>
</ul>
<!-- NAVIGATION BAR END -->

<div class="title" style="padding-top: 100px;">
    <h2>Favourites</h2>
    <div class="underline"></div>
</div>

<div class="section-center" style="padding: 50px;">
    <article ng-repeat="favourite in favouriteItems" class="menu-item">
        <img src={{favourite.img}} alt={{favourite.title}} class="photo" />
        <div class="item-info">
            <header>
                <h4>{{favourite.title}}</h4>
                <h4 class="price">₹{{favourite.price}}</h4>
            </header>
            <p class="item-text">
                {{favourite.desc}}
            </p>
        </div>
    </article>
</div>