<!-- NAVIGATION BAR START -->
<div class='nav-center'>
    <div class='nav-header'><a href='#!/home'><img src='favicon.png' class='logo' alt='logo'>
            <h4 class='nav-name'>Our-Menu</h4>
        </a></div>
</div>
<ul class='links'>
    <li><a href='#!/recipes'>Recipes</a></li>
    <li><a href='#!/home'>Menu</a></li>
    <li><a href='#!/favourites'>Favourites</a></li>
    <li><a href='#!/about'>About Us</a></li>
    <li><a href='#!know-more'>Know More</a></li>
    <li><a href='#!/cart'>Cart<i class='fas fa-shopping-cart' style='position: relative;'>
                <div id='cartAmount' class='cartAmount'>0</div>
            </i></a></li>
    <li><a ng-click="logout()">Logout</a></li>
</ul>
<!-- NAVIGATION BAR END -->

<section class="menu">

    <!-- Title -->
    <div class="title">
        <h2>Our-Menu</h2>
        <div class="underline"></div>
    </div>

    <!-- Filter buttons -->
    <div class="btn-container">
        <!-- <button type="button" class="filetr-btn" ng-click="myFilter = null">All</button> -->
        <button type="button" class="filter-btn" ng-click="myFilter = {category: 'breakfast'}">Breakfast</button>
        <button type="button" class="filter-btn" ng-click="myFilter = {category: 'lunch'}">Lunch</button>
        <button type="button" class="filter-btn" ng-click="myFilter = {category: 'dinner'}">Dinner</button>
        <button type="button" class="filter-btn" ng-click="myFilter = {category: 'beverages'}">Beverages</button>
    </div>

    <!-- Menu Items -->
    <div class="section-center" ng-controller="shoppingCartControl">
        <article class="menu-item" ng-repeat="item in menuItems | filter: myFilter">
            <img src={{item.img}} alt={{item.title}} class="photo" />
            <div class="item-info">
                <header>
                    <h4>{{item.title}}</h4>
                    <h4 class="price">₹{{item.price}}</h4>
                    <!-- <button type="submit" id=${item.id} class="add-to-cart" onclick="increment(${item.id})">
                        <i class="fas fa-shopping-cart" style="position:relative">
                            <div class='cart' id=${item.id}>${existingItems.quantity === undefined ? 0 :
                                existingItems.quantity}
                            </div>
                        </i>
                    </button> -->
                    <button class="decrementBtn">-</button>
                    <button type="submit" class="add-to-cart">
                        <i class="fas fa-shopping-cart" style="position:relative"></i>
                        <!-- <div id='cartAmount' class='cartAmount'>0</div> -->
                    </button>
                    <button class="incrementBtn" ng-click="increment(item.id)">+</button>
                </header>
                <p class="item-text">
                    {{item.desc}}
                </p>
            </div>
        </article>
    </div>
</section>