<!-- NAVIGATION BAR START -->
<div class='nav-center'>
    <div class='nav-header'><a href='index.html'><img src='favicon.png' class='logo' alt='logo'>
            <h4 class='nav-name'>Our-Menu</h4>
        </a></div>
</div>
<ul class='links'>
    <li><a href='#!/recipes'>Recipes</a></li>
    <li><a href='#!/home'>Menu</a></li>
    <li><a href='#!/favourites'>Favourites</a></li>
    <li><a href='#!/about'>About Us</a></li>
    <li><a href='#!know-more'>Know More</a></li>
    <li><a href='#!/cart'>Cart<i class='fas fa-shopping-cart' style='position: relative;'>
                <div id='cartAmount' class='cartAmount'>0</div>
            </i></a></li>
    <li><a href='#!/logout' ng-click="logout()">Logout</a></li>
</ul>
<!-- NAVIGATION BAR END -->

<!-- Title -->
<div class="title" style="padding-top: 100px;">
    <h2>Know More</h2>
    <div class="underline"></div>
</div>

<!-- FAQs cards -->
<section class="questions">

    <!-- FAQ heading -->
    <div class="titles">
        <h4>Frequently Asked Questions</h4>
    </div>

    <!-- Questions -->
    <div class="section-center">
        <!-- SINGLE QUESTION 1 -->
        <article class="question">
            <!-- question title -->
            <div class="question-title">
                <p>Do you accept all major credit cards?</p>

            </div>

            <!-- question answer -->
            <div class="question-text">
                <p>
                    Yes, we do accept all major credit and debit cards.
                    Besides that, we have multiple options of payment
                    available for our customer's convenience.
                </p>
            </div>
        </article>

        <!-- SINGLE QUESTION 2 -->
        <article class="question">
            <!-- question title -->
            <div class="question-title">
                <p>Do you support local farmers?</p>

            </div>

            <!-- question answer -->
            <div class="question-text">
                <p>
                    Our policy is to believe and grow our indigenous products.
                    To achieve so, we collaborate with local poultries and farms to contribute towards
                    our vision.
                </p>
            </div>
        </article>

        <!-- SINGLE QUESTION 3 -->
        <article class="question">
            <!-- question title -->
            <div class="question-title">
                <p>Do you use organic ingredients?</p>

            </div>

            <!-- question answer -->
            <div class="question-text">
                <p>
                    Customer satisfaction is our highest priority. We use locally grown
                    fresh ingredients to prepare meals for our customers. These products
                    undergo checks for quality assurance.
                </p>
            </div>
        </article>

    </div>
</section>