<!-- NAVIGATION BAR START -->
<div class='nav-center'>
    <div class='nav-header'><a href='#!/home'><img src='favicon.png' class='logo' alt='logo'>
            <h4 class='nav-name'>Our-Menu</h4>
        </a></div>
</div>
<ul class='links'>
    <li><a href='#!/recipes'>Recipes</a></li>
    <li><a href='#!/home'>Menu</a></li>
    <li><a href='#!/favourites'>Favourites</a></li>
    <li><a href='#!/about'>About Us</a></li>
    <li><a href='#!know-more'>Know More</a></li>
    <li><a href='#!/cart'>Cart<i class='fas fa-shopping-cart' style='position: relative;'>
                <div id='cartAmount' class='cartAmount'>0</div>
            </i></a></li>
    <li><a href='#!/logout' ng-click="logout()">Logout</a></li>
</ul>
<!-- NAVIGATION BAR END -->

<!-- TITLE -->
<div class="title" style="padding-top: 100px;">
    <h2>Recipes</h2>
    <div class="underline"></div>
</div>

<!-- SEARCH FEATURE -->
<!-- SEARCH BOX CONTAINER -->
<div ng-model="container">
    <section class="search-section">
        <div class="search-bar">
            <form ng-model="searchForm">
                <input ng-model="search" type="search" placeholder="Search for a recipe"
                       ng-model-options="{ debounce: 1000 }" style="color: white;"/>
                <i class="fa fa-search" id="searchBtn"></i>
                <!-- <ion-icon id="searchBtn" name="search"></ion-icon> -->
            </form>
        </div>
    </section>

    <!-- SEARCH RESULT -->
    <div>
        <div class="item" ng-repeat="item in searchedData">
            <img src={{item.recipe.image}} alt="" class="photo">
            <div class="flex-container" style="display: flex; align-items: center; justify-content: space-between;">
                <h4 style="margin-top: 10px; padding-top: 8px; text-transform: none; letter-spacing: 0.3rem;">{{item.recipe.label}}</h4>
                <a href="{{item.recipe.url}}" target="_blank">View Recipe</a>
            </div>
            <p class="item-data">Calories: {{item.recipe.calories.toFixed(2)}}</p>
            <p class="item-data">Cuisine: {{item.recipe.cuisineType.length > 0 ? item.recipe.cuisineType[0] : 'No Data Found'}}</p>
            <p class="item-data">Diet Labels: {{item.recipe.dietLabels.length > 0 ? item.recipe.dietLabels : 'No Data Found'}}</p>
            <p class="item-data">Health Labels: {{item.recipe.healthLabels}}</p>
        </div>
    </div>
</div>